body {
  margin: 0;
  padding: 0;

  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* Хедер */
.main-header {
  background-color: #f4f7f9;
}

.button-primary {
  border: none;
  border-radius: 5%;

  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color:#ffffff; 

  background-color: #ee3643;
}

.button-primary:hover {
  background-color: #ca2c37;
}

.button-primary:active {
  background-color: #ba2732;
}

.main-header__actions-wrapper {
  background-color: #293449
}

.main-header__actions {
  font-size: 17px;
  line-height: 18px;
}

.main-header__actions-item {
  color: #ffffff;
}

.main-header__actions .logo {
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;

  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -5px 0px 0px  rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.25);

  background-color: #ee3643;
}

.main-header__actions .logo:hover {
  background-color: #ca2c37;
}

.main-header__actions .logo:active {
  background-color: #ba2732;
}

.main-header__search-input {
  border: none;
  outline: none;
  background-color: #293449;
}

.main-header__search-input:hover:not(:focus),
.main-header__actions-item_bookmarks:hover,
.main-header__actions-item_cart:hover {
  background-color: #212a3a;
}

.main-header__search-input:focus{
  color: #000000;
  background-color: #ffffff;
}

.main-header__actions-item_bookmarks:active,
.main-header__actions-item_cart:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #161d29
}

.main-header__actions-item_place-order {
  background-color: #63a63e;
}

.main-header__actions-item_place-order:hover {
  background-color: #5fbb2d;
}

.main-header__actions-item_place-order:active {
  color: rgba(255, 255, 255, 0.6);
  background-color: #518534;
}

.main-header__description {
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.main-header__telephone {
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.main-header__address {
  font-size: 14px;
  color: #32425c;
}

.user-navigation,
.user-navigation__authorized-list,
.main-header__site-navigation-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation__button {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  
  background-color: #ffffff;
}

.user-navigation__authorized-list-link {
  font-size: 16px;
  line-height: 18px; 
  text-decoration: underline;
  color: #32425c;
}
.user-navigation__authorized-list-link:hover,
.user-navigation__button_unauthorized:hover{
  color: #ee3643;
}

.user-navigation__button:active,
.user-navigation__authorized-list-link:active {
  color: rgba(0, 0, 0, 0.3);
}

.main-header__site-navigation {
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;

  background-color: #32425c;
}

.main-header__site-navigation-link {
  color: #ffffff;
}

.main-header__site-navigation li:hover {
  background-color: #293449;
}

.main-header__site-navigation li:active {
  color: rgba(255, 255, 255, 0.5);

  background-color: #1d2739;
}

/* Главная страница */
.offers,
.slider {
  margin: 0;
  padding: 0;

  list-style: none;
}

.offers__item a {
  color: #ffffff;
}

.offers__item .offers__item-title {
  font-size: 24px;
  line-height: 30px
}

.offers__item_stuff {
  background-color: #ffbf47;
}

.offers__item_tools {
  background-color: #3bbce3;
}

.offers__item_machinery {
  background-color: #dc91d8;
}

.offers__item_discount {
  background-color: #8ed78f;
}

.offers__item_delivery {
  background-color: #ffc047;
}

.offers__button_stuff,
.offers__button_tools,
.offers__button_machinery,
.offers__button_discount,
.offers__button_delivery {
  background-color: rgba(0, 0, 0, 0.1);
}

.offers__button_stuff:hover,
.offers__button_tools:hover,
.offers__button_machinery:hover,
.offers__button_discount:hover,
.offers__button_delivery:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.offers__button_stuff:active,
.offers__button_tools:active,
.offers__button_machinery:active,
.offers__button_discount:active,
.offers__button_delivery:active {
  background-color: rgba(0, 0, 0, 0.3);
}

.slider {
  color: #ffffff;
}

.slider__slide-title {
  font-size: 36px;
  line-height: 36px;
  font-weight: bold;
  text-transform: uppercase;
}

.slider__slide-description {
  font-size: 18px;
  line-height: 24px;
}

.popular {
  background-color: #f9f5f0;
}

.popular .popular__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.popular-goods__list,
.popular-producers__list {
  margin: 0;
  padding: 0;

  list-style: none;
}


.item-info {
  position: relative;

  font-family: "PTSans", Helvetica, sans-serif;
  font-weight: bold;
}

.item-info:hover {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.item-info__old-price {
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9
}

.item-info__price-wrapper {
  background-color: #ee3643;
}

.item-info__price {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
}

.item-info__main:hover + .item-info__actions {
  display: block;
}

.item-info__actions {
  display: none;
}

.item-info__button {
  border-radius: 5%;
  border: none;

  font-size: 14px;
  line-height: 18px;
}

.item-info__button_buy {
  color: #ffffff;

  background-color: #63a63e;

  -webkit-box-shadow: inset 0px -3px 0px 0px #367315;
  -moz-box-shadow: inset 0px -3px 0px 0px #367315;
  box-shadow: inset 0px -3px 0px 0px #367315;
}

.item-info__button_buy:hover {
  background-color: #5fbb2d;

  -webkit-box-shadow: inset 0px -3px 0px 0px #367315;
  -moz-box-shadow: inset 0px -3px 0px 0px #367315;
  box-shadow: inset 0px -3px 0px 0px #367315;
}

.item-info__button_buy:active {
  background-color: #518534;
  box-shadow: none;
}

.item-info__button_bookmarks {
  border: 3px solid #63a63e;
  color: #32425c;
  
  background-color: #ffffff;
}

.item-info__button_bookmarks:hover {
  border-color:  #32425c;
}

.item-info__button_bookmarks:active {
  color: rgba(0, 0, 0, 0.3);

  border-color: rgba(0, 0, 0, 0.3); 
}

.popular-producers__list-link:hover {
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.5);
}

.popular-producers__list-link:active {
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.popular-producers__list-img:active {
  opacity: 0.3;
}

.services {
  background-color: #f4f7f9
}

.services__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}
.services__description {
  font-family: "PTSans", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services__sub-title {
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
  color: #32425c;
}

.services__navigation {
  list-style: none;
}

.services__button {
  border: none;

  font-size: 21px;
  line-height: 30px;
  color: #ffffff;

  background-color: #32425c;
}

.services__button:hover {
  background-color: #293449;
}

.services__button_active {
  color: #293449;

  background-color: #ffffff;
}

.about-company__info-title,
.about-company__contacts-title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.about-company__contacts-description,
.about-compan__contacts-description{
  font-family: "PTSans", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.about-company__carriers-list {
  font-family: "PTSans", Helvetica, sans-serif;
  font-weight: bold;
}


/* Внутренняя страница */
.breadcrumbs {
  font-family: "PTSans", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  list-style: none;
}

.breadcrumbs-link {
  color: #000000;
}

.catalog__header-wrapper {
  background-color: #f2f6f8;
}

.catalog__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}
.catalog__filter-header-wrapper {
  background-color: #f7f3ec;
}

.catalog__filter-title {
  font-family: "PTSans", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.catalog__filter-info {
  font-family: "PTSans", Helvetica, sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold; 
  text-transform: uppercase;
}

.catalog__filter-supply-list,
.catalog__filter-producers-list {
  margin: 0;
  padding: 0; 
   
  font-family: "PTSans", Helvetica, sans-serif;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;

  list-style: none;
}

.catalog__filter-button {
  border: 1px solid #e5e5e5;

  font-family: "PTSans", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;

  background-color: #ffffff;
}

.catalog__filter-producers-list-input:disabled + .catalog__filter-producers-list-name {
  color: rgba(0, 0, 0, 0.4);
}

.catalog__filter-supply-list-input:disabled + .catalog__filter-supply-list-name {
  color: rgba(0, 0, 0, 0.4);
}

.catalog__sorting {
  font-family: "PTSans", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;

  background-color: #f7f3ec
}

.catalog__sorting-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog__sorting-param {
  border-bottom: 1px #ee3643 dotted;

  color: #bdbcb8;
  text-decoration: none;
}

.catalog__sorting-param:hover {
  border-bottom: 1px #ee3643 solid;

  color: #000000;
}

.catalog__sorting-param_active,
.catalog__sorting-param:active {
  border: none;

  color: #ee3643;
}

.catalog__sorting-direction {
  color: #bdbcb8;
}

.catalog__sorting-direction:hover {
  color: #000000;
}

.catalog__sorting-direction:active {
  color: #ee3643;
}

.goods-list,
.catalog__pagination {
  margin: 0;
  padding: 0;

  list-style: none;
}


.catalog__pagination-button {
  border: 1px solid #e5e5e5;
  border-radius: 5%;

  font-family: "PTSans", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;

}

.catalog__pagination-button:hover {
  border: 1px solid #bdc6ca;
}

.catalog__pagination-button:active {
  border: 1px solid #ee3643;
}

.catalog__pagination-button-active {
  border-color:  transparent;

  font-family: "PTSans", Helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;

  background-color: #ee3643;
}

.item-article {
  background-color: #f2f6f8;
}

.item-article__title {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

.item-article__title {
  font-size: 13px;
  line-height: 24px;
}

/* Футер */
.main-footer {
  background-color: #32425c
}

.main-footer ul {
  margin: 0;
  padding: 0; 

  list-style: none;
}

.main-footer__upper-part .logo {
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #ffffff;

  -webkit-box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -5px 0px 0px  rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -5px 0px 0px rgba(0, 0, 0, 0.25);

  background-color: #ee3643;
}

.main-footer__site-navigation-link {
  font-size: 15px;
  color: #ffffff;
}

.main-footer__catalog-navigation-link {
  font-size: 18px;
  color: #ffd180;
}

.main-footer__site-navigation-link:hover,
.main-footer__catalog-navigation-link:hover {
  text-decoration: underline;
}

.main-footer__catalog-navigation-link:active {
  text-decoration: none;
  color: rgba(255, 209, 128, 0.5);
}

.main-footer__site-navigation-link:active {
  text-decoration: none;
  color: rgba(241, 245, 247, 0.5);
}


.main-footer__contacts {
  font-size: 18px;
  color: #ffffff;
}
.main-footer__telephone {
  color: #ffffff;
}


.main-footer__lower-part {
  background-color: #293449
}

.main-footer__copyright {
  font-size: 16px;
  color: #ffffff;
}

.main-footer__feedback,
.main-footer__developed-by {
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}

.main-footer__feedback-link,
.main-footer__developed-by-link {
  color: #ffd180;
}

.main-footer__feedback-link:hover,
.main-footer__developed-by-link:hover {
  text-decoration: underline;
}

.main-footer__feedback-link:active,
.main-footer__developed-by-link:active {
  text-decoration: none;
  color: #ee3643;
}

/* Модалки */
.modal_write-us {
  border-top: 10px solid #ff5257;

  -webkit-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75); 
  -moz-box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75); 
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.75); 
}

.modal__form label {
  font-size: 18px;
  line-height: 18px;
}

.modal__form-input {
  border: 2px solid #d7dcde;
}

.modal__form-input:hover {
  border-style: #b5b5b5;
}

.modal__form-input:focus {
  outline: 2px solid #ee3643;
}

.modal__button-wrapper {
  background-color: #f4f4f4;
}

.modal_map {
  width: 940px;
  -webkit-box-shadow: 0px 0px 14.72px 1.28px rgba(0, 0, 0, 0.5); 
  -moz-box-shadow: 0px 0px 14.72px 1.28px rgba(0, 0, 0, 0.5); 
  box-shadow: 0px 0px 14.72px 1.28px rgba(0, 0, 0, 0.5); 
}

.modal__add-to-cart h2 {
  font-size: 30px;
  line-height: 30px;

}
